[Unit]
Description=Kill all ssh sessions before system turns off
Before=network.target

[Service]
Type=simple
ExecStart=-/usr/lib/systemd/scripts/kill-ssh-sessions

[Install]
WantedBy=sleep.target shutdown.target halt.target reboot.target poweroff.target
